# IntelliJ IDEA
/.idea/

/face_data
/images
/models
/face_data
/data.1001
/trained_models
/training_img
/images

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# MacOS system files
.DS_Store

# Logs and temp files
*.log
*.tmp

# Maven and Gradle folders (if used)
/target/
/build/

# Ignore database files (if any)
/*.db

